
.formulario {
  background-color: rgb(194, 192, 190)
}

.productos{
  background-color: rgb(194, 192, 190);
}

h1 {
    text-align: center;
}

.navbar{
    background-color: rgb(210, 234, 234);
}

#perfumes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#titulo {
    margin-bottom: 40px;
}

.perfume {
    background-color: rgb(246, 235, 219);
    border: solid 2px black;
    margin: 20px;
    color: black;
    text-align: center;
}

.nombre{
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.marca {
  color: black;
  text-align: center;
}

.presentacion {
  color: black;
  text-align: center;
}

.precio {
    color: black;
    font-weight: bolder;
}

.productos {
  height: 50%;
  margin-bottom: 5%;
}

footer {
    background-color:rgb(210, 234, 234);
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 350px;
}

.search{
    margin-right: 150px;
    margin-left: 50px;
    margin-bottom: 45px;
    background-color: rgb(174, 232, 232);
    border-color: (103, 221, 221);
    width: 50%;
    height: 40px;
    box-shadow: 5px 5px gray;
    color: rgb(19, 20, 17);
    font-size: larger;
    font-size: 1rem;
    text-align: center;
}

#busqueda{
    margin-left: 70px;
    margin-right: 15px;
    width: 90%;
    text-align: center;
    font-weight: 600;
    background-color: rgb(197, 239, 239);
}

.searchButton{
    background-color: rgb(174, 232, 232);
    border-color: (103, 221, 221);
    border-radius: 12px;
    box-shadow: 5px 5px gray;
    width: 120px;
    height: 40px;
    margin-right: 100px;
}



/*Pedidos*/

.section_2 {
  background-color:rgb(174, 232, 232);
}

.haz_pedido {
  color: black;
  font-weight: bolder;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  background-color:rgb(174, 232, 232);
  border: 3px solid blanchedalmond;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  
}

.cantidad {
  background-color: blanchedalmond !important;
}

.select {
  color: gray !important;
}
  h3 {
      color: black !important;
      text-align: left;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 5px;
  }
  
  form-title {
          margin-bottom: 30px;
      }


  p {
      
      text-align: left;
      font-size: 17px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 30px;
  }

  textarea {
      position: static !important;
      width: 100%;
      padding: 8px 20px;
      border-radius: 6px;
      text-align: left;
      background-color: blanchedalmond;
      border: 0;
      font-size: 15px;
      font-weight: 300;
      color: blanchedalmond;
      outline: none;
      resize: none;
      height: 120px;
      -webkit-transition: none;
      transition: none;
      margin-bottom: 14px;
  }

  /*Map*/
.haz_pedido {
  color: black;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color:blanchedalmond;
}

.form-content input[type=text], .form-content input[type=tel], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: blanchedalmond;
  font-size: 15px;
  font-weight: 300;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}


.btn {
  outline: none;
  border: 0px;
   box-shadow: none;
}

.btn--enviar {
  background-color: blanchedalmond !important;

}

.btn--borrar {
     background-color: blanchedalmond !important;
     
 
 }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: blanchedalmond;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color:blanchedalmond;
  color: blanchedalmond;
}

.mv-up{
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.confirm{
  color: black !important;
}

.footer-text{
  color: black;
}

@media (max-width: 768px) {
    #busqueda {
      width: 95%;
      font-size: 10px;
    }
    .searchButton {
        width: 50%;
        font-size: 15px;
        margin-left: 100px;
      }
}


